body {
    font-family: sans-serif;
    width: 1200px;
}
.header{
    background-color: #662d80;
}
.barra-superior{
    display: flex;
    align-items: center;
    height: 75px;
}
.titulo{
    width: 50%;
    color: white;
}
.navegacion-menu{
    width: 50%;
}
.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
.menu-principal__item{
    text-decoration: none;
    color: white;
}
.menu-principal__item> a:hover {
    font-size: 20px;
    text-decoration: underline;
    color: white;
}
.baner{
    display: flex;
    justify-content: center;
}
.baner__texto{
    position: absolute;
    color: white;
}
.baner__imagen{

}